<aside class="top-sidebar">
  <h4> 但行好事 莫问前程 </h4>
</aside>



<aside class="bottom-sidebar">
  <article>
    <h2>收藏夹</h2>
    <ul>
      <li><a href="http://www.yinwang.org">王垠</a></li>
      <li><a href="http://www.ruanyifeng.com/blog/">阮一峰的网络日志</a></li>
      <li><a href="http://www.nowamagic.net/librarys/veda/">简明现代魔法</a></li>
      <li><a href="http://macshuo.com/">MacTalk- 池建强的随想录</a></li>
      <li><a href="http://coolshell.cn/">左耳朵耗子</a></li>
      <li><a href="http://tiny4.org/blog/">Tinyfool 的 Blog</a></li>
      <li><a href="http://blog.youxu.info/">徐宥</a></li>
      <li><a href="http://www.yangzhiping.com/info/memo.html">阳志平</a></li>
      <li><a href="http://www.zhangchenghui.com/">黑苹果</a></li>
      <li><a href="http://zh.lucida.me/">Lucida</a></li>
      <li><a href="http://about:blank"></a>……</li>
    </ul>
  </article>
</aside>